.body{
    display: flex;
    gap: 1rem;
}
iframe{
    height: 500px;
    width: -webkit-fill-available;
    margin: 2vh;
    padding: 1vh;
}
.left{
    display: grid;
    width: -webkit-fill-available;
}
.tabSection{    
    height: 2rem;
    width: 100%;
    background-color: brown;
    margin: 2vh;
    padding: 1vh;
    border-radius:1px;
}
.fieldMappingContainer{
    width: 30rem;
    background-color: blueviolet;
    margin: 2vh;
    padding: 1vh;
}


.header{
    color:#00AEFF;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}

.popup{
    background: #FFFFFF;
    padding: 1rem;
    border-radius: 1vh;
}
.profile{
    width: 160px;
    height: 50px;
    top: 13px;
    left: 750px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000040;
    justify-self: right;
}
.firstRow{
    display:flex;
    display: flex;
    justify-content: space-between;
}
